.dbms-home {
  position: fixed;
  width: 100%;
  height: 100%;
  /* background: hsl(240, 59%, 93%); */
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  --btn-primary: hsl(189, 99%, 42%);
  --btn-secondary: hsl(189, 99%, 45%);
  --btn-shadow: hsl(189, 99%, 48%);
}
.div-1 {
  width: clamp(880px, 50%, 100%);
  padding: 8px 15px 26px;
  box-shadow: 0 7px 25px #00000042;
  border-radius: 7px;
}

.mongodb-logo {
  display: block;
  margin: 15px auto 15px auto;
  width: clamp(250px, 50%, 300px);
}

.div-1 h3 {
  text-align: center;
}
.div-1 .buttons {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 15px;
  align-self: center;
  justify-self: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
}

.div-1 .buttons .button:focus {
  transform: scale(0.9);
}
.div-1 .buttons .button {
  border: none;
  outline: none;
  color: #ffffff;
  margin: 10px 0 0 0;
  padding: 6px 0;
  border-radius: 9px;
  font-size: 1.2rem;
  position: relative;
}
.btn-col1{
  background: #e030ac;
  box-shadow: 2px 6px 15px #E755BB; 
}
.btn-col1::after{
  background: #e030ac;
}

.btn-col2{
  background: #6e35ca;
  box-shadow: 2px 6px 15px #8757D4; 
}
.btn-col2::after{
  background: #6e35ca;
}


.btn-col3{
  background: #a91ad4;
  box-shadow: 2px 6px 15px #B841DC; 
}
.btn-col3::after{
  background: #a91ad4;
}

.div-1 .buttons .button::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  inset: 0;
  filter: blur(20px);
  z-index: -1;
  transform: translateY(15px) scale(.9);
}
.div-1 .buttons .button h4,
.button p {
  margin: 0;
}
.button h4 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}


.button p {
  font-size: 0.8rem;
  color: #ffffffaa;
  font-family: 'Poppins', monospace;
}

@media (max-width:568px){
.div-1 .buttons .button::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  inset: 0;
  filter: blur(5px);
  z-index: -1;
  transform: translateY(6px) scale(.9);
}

}